@import 'card';
@import 'button';
@import 'input';
@import 'icon';
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin');

$lightgray: #f0f0f0;

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    font-size: 14px;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

body {
    margin: 0;
    background-color: rgb(236, 239, 241);
    overflow-x: auto;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.4285em;
    color: rgba(0, 0, 0, 0.87);
    font-smoothing: antialiased;
}

textarea::-webkit-selection,
input::-webkit-selection {
    background-color: rgba(100, 100, 100, 0.4);
    color: rgba(0, 0, 0, 0.87);
}

textarea::-moz-selection,
input::-moz-selection {
    background-color: rgba(100, 100, 100, 0.4);
    color: rgba(0, 0, 0, 0.87);
}

textarea::selection,
input::selection {
    background-color: rgba(100, 100, 100, 0.4);
    color: rgba(0, 0, 0, 0.87);
}

main {
    padding: 2rem;
    .add-lane {
        margin-bottom: 2rem;
    }
}

.lanes {
    white-space: nowrap;
}

.lane {
    display: inline-block;
    background-color: #fff;
    margin: 16px 0;
    border-radius: 4px;
    width: 270px;
    margin-right: 1em;
    vertical-align: top;
    @include card(1);
}

.lane-header {
    background-color: $lightgray;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 8px 16px 16px;
    height: 55px;
    .lane-name {
        float: left;

    }
    button {
        float: right;
    }
}

.dragHandle {
    width: 14px;
    height: 50px;
    float: left;
    position: relative;
    top: -12px;
    &:hover,
    &:active {
        cursor: move;
    }
    &:before {
        content: '.';
        font-size: 20px;
        line-height: 20px;
        color: darken($lightgray, 20%);
        text-shadow: 0 5px darken($lightgray, 20%),
                 0 10px darken($lightgray, 20%),
                 0 15px darken($lightgray, 20%),
                 5px 0 darken($lightgray, 20%),
                 5px 5px darken($lightgray, 20%),
                 5px 10px darken($lightgray, 20%),
                 5px 15px darken($lightgray, 20%);
    }
}

.lane-items {
    padding: 16px;
}

.notes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dragHandle {
    position: relative;
    top: -4px;
}

.lane-name {
    width: 222px;
    &:hover {
        .delete.button {
            visibility: visible;
        }
    }
}

.value {
    float: left;
    display: inline-block;
    position: relative;
    top: 9px;
    left: 15px;
}

.delete.button {
    float: right;
    margin-left: 20px;
    position: relative;
    top: 6px;
    visibility: hidden;
}

.note {
    .dragHandle {
        visibility: hidden;
    }
    &:hover {
        .dragHandle {
            visibility: visible;
        }
        .delete.button {
            visibility: visible;
        }
    }
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}
