@import '_card';

$lightgray: #f0f0f0;

body {
    background-color: rgb(236, 239, 241);;
}

.ui.container {
    padding-top: 2rem;
    .add-lane {
        margin-bottom: 2rem;
    }
}

.lane {
    background-color: #fff;
    @include card(1);
    margin: 16px 0;
    border-radius: 4px;
    width: 20rem;
    float: left;
    margin-right: 1em;
}

.lane-header {
    background-color: $lightgray;
    border-bottom: 1px solid #e8e8e8;
    padding: 16px;
    height: 55px;

    .lane-name {
        float: left;

    }
    button {
        float: right;
    }
}

.dragHandle {
    width: 20px;
    height: 50px;
    float: left;
    position: relative;
    top: -12px;
    &:hover,
    &:active {
        cursor: move;
    }
    &:before {
        content: '.';
        font-size: 20px;
        line-height: 20px;
        color: darken($lightgray, 20%);
        text-shadow: 0 5px darken($lightgray, 20%),
                 0 10px darken($lightgray, 20%),
                 0 15px darken($lightgray, 20%),
                 5px 0 darken($lightgray, 20%),
                 5px 5px darken($lightgray, 20%),
                 5px 10px darken($lightgray, 20%),
                 5px 15px darken($lightgray, 20%);
    }
}

.lane-items {
    padding: 16px;
}

.notes {
    list-style-type: none;
    padding: 0;
    li {
        margin: 1rem 0;
    }
}

.note {
    .dragHandle {
        visibility: hidden;
        position: relative;
        top: -4px;
    }
    &:hover {
        .dragHandle {
            visibility: visible;
        }
    }
    span {
        float: left;
        display: inline-block;
        height: 3rem;
        padding: 10px 0;
        &:hover {
            background-color: #f9f9f9;
            transition: 0.4s;
            cursor: pointer;
        }
    }
    .delete.button {
        float: right;
        position: relative;
        top: 6px;
    }
}

.delete.button {
    width: 35px;
    margin-left: 20px;
}

.clearfix {
    *zoom: 1;

    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }

    &:after {
        clear: both;
    }
}
