@import '_card';

$lightgray: #f0f0f0;

body {
    background-color: rgb(236, 239, 241);
    overflow-x: auto;

}

main {
    padding: 2rem;
    .add-lane {
        margin-bottom: 2rem;
    }
}

.lanes {
    white-space: nowrap;
}

.lane {
    display: inline-block;
    background-color: #fff;
    margin: 16px 0;
    border-radius: 4px;
    width: 270px;
    margin-right: 1em;
    vertical-align: top;
    @include card(1);
}

.lane-header {
    background-color: $lightgray;
    border-bottom: 1px solid #e8e8e8;
    padding: 8px 8px 16px 16px;
    height: 55px;
    .lane-name {
        float: left;

    }
    button {
        float: right;
    }
}

.dragHandle {
    width: 14px;
    height: 50px;
    float: left;
    position: relative;
    top: -12px;
    &:hover,
    &:active {
        cursor: move;
    }
    &:before {
        content: '.';
        font-size: 20px;
        line-height: 20px;
        color: darken($lightgray, 20%);
        text-shadow: 0 5px darken($lightgray, 20%),
                 0 10px darken($lightgray, 20%),
                 0 15px darken($lightgray, 20%),
                 5px 0 darken($lightgray, 20%),
                 5px 5px darken($lightgray, 20%),
                 5px 10px darken($lightgray, 20%),
                 5px 15px darken($lightgray, 20%);
    }
}

.lane-items {
    padding: 16px;
}

.notes {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dragHandle {
    position: relative;
    top: -4px;
}

.lane-name {
    width: 222px;
    &:hover {
        .delete.button {
            visibility: visible;
        }
    }
}

.value {
    float: left;
    display: inline-block;
    position: relative;
    top: 9px;
    left: 15px;
}

.delete.button {
    float: right;
    margin-left: 20px;
    position: relative;
    top: 6px;
    visibility: hidden;
}

.note {
    .dragHandle {
        visibility: hidden;
    }
    &:hover {
        .dragHandle {
            visibility: visible;
        }
        .delete.button {
            visibility: visible;
        }
    }
}

.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}
